body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#frameA, #frameB {
    overflow: hidden;
    display: block;
    margin: auto;
}

#jogo{
    width: 250px;
    height: 250px;

}